<tt-eisenhower-decision-matrix
    #matrix
    (dropUrgentImportantActivity)="onDropUrgentImportantActivity($event)"
    [connectedTo]="[activityList.internalId]"
    [isLoading]="isLoadingPrioritizedActivities"
    [nonUrgentImportantActivities]="prioritizedActivities | prioritizedActivity:Priorities.ImportantAndNotUrgent"
    [nonUrgentUnimportantActivities]="prioritizedActivities | prioritizedActivity:Priorities.NotImportantNotUrgent"
    [urgentImportantActivities]="prioritizedActivities | prioritizedActivity:Priorities.ImportantAndUrgent"
    [urgentUnimportantActivities]="prioritizedActivities | prioritizedActivity:Priorities.NotImportantUrgent">
</tt-eisenhower-decision-matrix>
<tt-activity-list
    #activityList
    [source]="nonPrioritizedActivities | nonPrioritizedActivity"
    [isLoading]="isLoadingNonPrioritizedActivities"
    [connectedTo]="[matrix.urgentImportantInternalId, matrix.urgentUnimportantInternalId, matrix.nonUrgentImportantInternalId, matrix.nonUrgentUnimportantInternalId]"
    (dropActivity)="onDropUrgentImportantActivity($event)">
</tt-activity-list>
